<div class="container">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"> 
        Your Point: {{userPoint}}
    </div>
</div>

<div class="container">
    <div class="row imagetiles">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="item-image">
                <img ng-src="{{ shuffledSoundTrackImages[0] }}" class="img-responsive" ng-click="checkSong(shuffledSoundTrackImages[0])">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
             <div class="item-image">
                <img ng-src="{{ shuffledSoundTrackImages[1] }}" class="img-responsive" ng-click="checkSong(shuffledSoundTrackImages[1])">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
             <div class="item-image">
                <img ng-src="{{ shuffledSoundTrackImages[2] }}" class="img-responsive" ng-click="checkSong(shuffledSoundTrackImages[2])">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
             <div class="item-image">
                <img ng-src="{{ shuffledSoundTrackImages[3] }}" class="img-responsive" ng-click="checkSong(shuffledSoundTrackImages[3])">
            </div>
        </div>
    </div>
</div>






