<div class="user-score-container container" ng-if="loggedIn">
    <div class="text-right"> 
         <span class="user-score"> Your Score: {{userScore}} </span>
    </div>
</div>


<div ng-controller="DiscoverCtrl as videogular">
    <videogular vg-player-ready="videogular.onPlayerReady($API)" vg-theme="videogular.config.theme.url" vg-auto-play="true" class="videogular-container audio">
        <vg-media vg-src="videogular.config.sources" vg-type="audio"></vg-media>
        <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
        </vg-controls>
    </videogular>
</div>

<div class="container">
    <div class="row imagetiles">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="item-image">
                <img ng-src="{{ shuffledSoundTrackImages[0] }}" class="img-responsive" ng-click="checkSong(shuffledSoundTrackImages[0])">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
             <div class="item-image">
                <img ng-src="{{ shuffledSoundTrackImages[1] }}" class="img-responsive" ng-click="checkSong(shuffledSoundTrackImages[1])">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
             <div class="item-image">
                <img ng-src="{{ shuffledSoundTrackImages[2] }}" class="img-responsive" ng-click="checkSong(shuffledSoundTrackImages[2])">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
             <div class="item-image">
                <img ng-src="{{ shuffledSoundTrackImages[3] }}" class="img-responsive" ng-click="checkSong(shuffledSoundTrackImages[3])">
            </div>
        </div>
    </div>
</div>






