<div class="user-score-container container" ng-if="loggedIn">
    <div class="text-right"> 
         <span class="user-score"> Your Score: {{userScore}} </span>
    </div>
</div>

<div class="text-center" ng-if="!startGuessingClicked"> 
    <button type="button" ng-click="startGuessing()"  class="btn btn-primary"> Let's Start </button>
    <p class="h5">You'll hear one soundtrack and try to match the soundtrack with the right movie out of 4 movies like these;</p>
    <div class="row imagetiles">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="item-image">
                <img ng-src="{{ shuffledSoundTrackImages[0] }}" ng-click="startGuessing()" class="img-responsive">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
             <div class="item-image">
                <img ng-src="{{ shuffledSoundTrackImages[1] }}" ng-click="startGuessing()" class="img-responsive" >
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
             <div class="item-image">
                <img ng-src="{{ shuffledSoundTrackImages[2] }}" ng-click="startGuessing()" class="img-responsive" >
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
             <div class="item-image">
                <img ng-src="{{ shuffledSoundTrackImages[3] }}" ng-click="startGuessing()" class="img-responsive">
            </div>
        </div>
    </div>
</div>  

<div class="container" ng-if="startGuessingClicked">
    <div class="row imagetiles">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="item-image">
                <img ng-src="{{ shuffledSoundTrackImages[0] }}" class="img-responsive" ng-click="checkSong(shuffledSoundTrackImages[0])">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
             <div class="item-image">
                <img ng-src="{{ shuffledSoundTrackImages[1] }}" class="img-responsive" ng-click="checkSong(shuffledSoundTrackImages[1])">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
             <div class="item-image">
                <img ng-src="{{ shuffledSoundTrackImages[2] }}" class="img-responsive" ng-click="checkSong(shuffledSoundTrackImages[2])">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
             <div class="item-image">
                <img ng-src="{{ shuffledSoundTrackImages[3] }}" class="img-responsive" ng-click="checkSong(shuffledSoundTrackImages[3])">
            </div>
        </div>
    </div>
</div>






